<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positionPhZY.dao.DeviceTypeMapper">
 	<insert id="add" parameterType="com.positionPhZY.entity.DeviceType">
 		insert into device_type
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="css!=null">
 				css,
 			</if>
 			<if test="icon!=null">
 				icon,
 			</if>
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="engineMask!=null">
 				engineMask,
 			</if>
 			<if test="labelChecked!=null">
 				labelChecked,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="css!=null">
 				#{css},
 			</if>
 			<if test="icon!=null">
 				#{icon},
 			</if>
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="engineMask!=null">
 				#{engineMask},
 			</if>
 			<if test="labelChecked!=null">
 				#{labelChecked},
 			</if>
		</trim>
 	</insert>
	<update id="edit" parameterType="com.positionPhZY.entity.DeviceType">
		update device_type set
		<trim suffixOverrides=",">
			<if test="css!=null">
				css=#{css},
			</if>
			<if test="icon!=null">
				icon=#{icon},
			</if>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="engineMask!=null">
				engineMask=#{engineMask},
			</if>
		</trim>
		where id=#{id}
	</update>
	<select id="getCountById" resultType="java.lang.Integer">
		select count(*) from device_type where id=#{id}
	</select>
</mapper>