<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positionPhZY.dao.LoginUserMapper">
	<select id="getCookieByUserId" resultType="java.lang.String">
		select cookie from login_user where userId=#{userId}
	</select>
</mapper>