<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positionPhZY.dao.WarnRecordMapper">
 	<insert id="add" parameterType="com.positionPhZY.entity.WarnRecord">
 		insert into warn_record
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				tagId,
 			</if>
 			<if test="warnType!=null">
 				warnType,
 			</if>
 			<if test="triggerId!=null">
 				triggerId,
 			</if>
 			<if test="pid!=null">
 				pid,
 			</if>
 			<if test="sessionId!=null">
 				sessionId,
 			</if>
 			<if test="userId!=null">
 				userId,
 			</if>
 			<if test="keyCode!=null">
 				keyCode,
 			</if>
 			<if test="uid!=null">
 				uid,
 			</if>
 			<if test="areaId!=null">
 				areaId,
 			</if>
 			<if test="absolute!=null">
 				absolute,
 			</if>
 			<if test="raiseTime!=null">
 				raiseTime,
 			</if>
 			<if test="raiseTimeYMD!=null">
 				raiseTimeYMD,
 			</if>
 			<if test="x!=null">
 				x,
 			</if>
 			<if test="y!=null">
 				y,
 			</if>
 			<if test="z!=null">
 				z,
 			</if>
 			<if test="startTime!=null">
 				startTime,
 			</if>
 			<if test="startTimeYMD!=null">
 				startTimeYMD,
 			</if>
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="rootAreaId!=null">
 				rootAreaId,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				#{tagId},
 			</if>
 			<if test="warnType!=null">
 				#{warnType},
 			</if>
 			<if test="triggerId!=null">
 				#{triggerId},
 			</if>
 			<if test="pid!=null">
 				#{pid},
 			</if>
 			<if test="sessionId!=null">
 				#{sessionId},
 			</if>
 			<if test="userId!=null">
 				#{userId},
 			</if>
 			<if test="keyCode!=null">
 				#{keyCode},
 			</if>
 			<if test="uid!=null">
 				#{uid},
 			</if>
 			<if test="areaId!=null">
 				#{areaId},
 			</if>
 			<if test="absolute!=null">
 				#{absolute},
 			</if>
 			<if test="raiseTime!=null">
 				#{raiseTime},
 			</if>
 			<if test="raiseTimeYMD!=null">
 				#{raiseTimeYMD},
 			</if>
 			<if test="x!=null">
 				#{x},
 			</if>
 			<if test="y!=null">
 				#{y},
 			</if>
 			<if test="z!=null">
 				#{z},
 			</if>
 			<if test="startTime!=null">
 				#{startTime},
 			</if>
 			<if test="startTimeYMD!=null">
 				#{startTimeYMD},
 			</if>
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="rootAreaId!=null">
 				#{rootAreaId},
 			</if>
 		</trim>
 	</insert>
	<select id="select" resultType="com.positionPhZY.entity.WarnRecord">
		select * from warn_record where 1=1
		<if test="startTime!=null&amp;startTime!=''&amp;endTime!=null&amp;endTime!=''">
			and startTimeYMD BETWEEN #{startTime} and #{endTime}
		</if>
	</select>
	<select id="selectBarChartDateData" resultType="com.positionPhZY.entity.WarnRecord">
		select *,count(*) warnCount from 
		(select wt.name wtName,startTimeYMD,CONCAT(month(startTimeYMD),'-',day(startTimeYMD)) xAxisDataLabel from warn_record wr,warn_trigger wt where wr.warnType=wt.warnType and startTimeYMD BETWEEN #{startDate} and #{endDate})t
		 GROUP BY t.xAxisDataLabel ORDER BY startTimeYMD
	</select>
	<select id="selectBarChartWeekData" resultType="com.positionPhZY.entity.WarnRecord">
		select *,count(*) warnCount from 
		(select wt.name wtName,startTimeYMD,
		case 
		when day(startTimeYMD) between 1 and 7 then CONCAT(month(startTimeYMD),'.1-',month(startTimeYMD),'.7')
		when day(startTimeYMD) between 8 and 14 then CONCAT(month(startTimeYMD),'.8-',month(startTimeYMD),'.14')
		when day(startTimeYMD) between 15 and 21 then CONCAT(month(startTimeYMD),'.15-',month(startTimeYMD),'.21')
		else
		case
			when month(startTimeYMD)=1||month(startTimeYMD)=3||month(startTimeYMD)=5||month(startTimeYMD)=7||month(startTimeYMD)=8||month(startTimeYMD)=10||month(startTimeYMD)=12 
			then 
				CONCAT(month(startTimeYMD),'.22-',month(startTimeYMD),'.31')
			when month(startTimeYMD)=4||month(startTimeYMD)=6||month(startTimeYMD)=9||month(startTimeYMD)=11 
			then CONCAT(month(startTimeYMD),'.22-',month(startTimeYMD),'.30')
			else
				case
					when year(startTimeYMD)%4=0 then CONCAT(month(startTimeYMD),'.22-',month(startTimeYMD),'.29')
					else
						CONCAT(month(startTimeYMD),'.22-',month(startTimeYMD),'.28')
				end
			end
		end  xAxisDataLabel
		 from warn_record wr,warn_trigger wt where wr.warnType=wt.warnType and startTimeYMD BETWEEN #{startDate} and #{endDate})t GROUP BY t.wtName,t.xAxisDataLabel ORDER BY startTimeYMD
	</select>
	<select id="selectBarChartMonthData" resultType="com.positionPhZY.entity.WarnRecord">
		select *,count(*) warnCount from 
		(select wt.name wtName,startTimeYMD,month(startTimeYMD) xAxisDataLabel from warn_record wr,warn_trigger wt where wr.warnType=wt.warnType and startTimeYMD BETWEEN #{startDate} and #{endDate})t
		 GROUP BY t.wtName,t.xAxisDataLabel ORDER BY startTimeYMD
	</select>
	<select id="selectPieChartData" resultType="com.positionPhZY.entity.WarnRecord">
		select wr.areaId,CONCAT('区域',wr.areaId) areaName,wt.`name` wtName from warn_record wr,warn_trigger wt where wr.warnType=wt.warnType and wr.areaId is not null and startTimeYMD BETWEEN #{startDate} and #{endDate}
	</select>
</mapper>