<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.positionPhZY.dao.WarnRecordMapper">
 	<insert id="add" parameterType="com.positionPhZY.entity.WarnRecord">
 		insert into warn_record
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				tagId,
 			</if>
 			<if test="warnType!=null">
 				warnType,
 			</if>
 			<if test="triggerId!=null">
 				triggerId,
 			</if>
 			<if test="pid!=null">
 				pid,
 			</if>
 			<if test="sessionId!=null">
 				sessionId,
 			</if>
 			<if test="userId!=null">
 				userId,
 			</if>
 			<if test="keyCode!=null">
 				keyCode,
 			</if>
 			<if test="uid!=null">
 				uid,
 			</if>
 			<if test="areaId!=null">
 				areaId,
 			</if>
 			<if test="absolute!=null">
 				absolute,
 			</if>
 			<if test="raiseTime!=null">
 				raiseTime,
 			</if>
 			<if test="raiseTimeYMD!=null">
 				raiseTimeYMD,
 			</if>
 			<if test="x!=null">
 				x,
 			</if>
 			<if test="y!=null">
 				y,
 			</if>
 			<if test="z!=null">
 				z,
 			</if>
 			<if test="startTime!=null">
 				startTime,
 			</if>
 			<if test="startTimeYMD!=null">
 				startTimeYMD,
 			</if>
 			<if test="id!=null">
 				id,
 			</if>
 			<if test="rootAreaId!=null">
 				rootAreaId,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="tagId!=null">
 				#{tagId},
 			</if>
 			<if test="warnType!=null">
 				#{warnType},
 			</if>
 			<if test="triggerId!=null">
 				#{triggerId},
 			</if>
 			<if test="pid!=null">
 				#{pid},
 			</if>
 			<if test="sessionId!=null">
 				#{sessionId},
 			</if>
 			<if test="userId!=null">
 				#{userId},
 			</if>
 			<if test="keyCode!=null">
 				#{keyCode},
 			</if>
 			<if test="uid!=null">
 				#{uid},
 			</if>
 			<if test="areaId!=null">
 				#{areaId},
 			</if>
 			<if test="absolute!=null">
 				#{absolute},
 			</if>
 			<if test="raiseTime!=null">
 				#{raiseTime},
 			</if>
 			<if test="raiseTimeYMD!=null">
 				#{raiseTimeYMD},
 			</if>
 			<if test="x!=null">
 				#{x},
 			</if>
 			<if test="y!=null">
 				#{y},
 			</if>
 			<if test="z!=null">
 				#{z},
 			</if>
 			<if test="startTime!=null">
 				#{startTime},
 			</if>
 			<if test="startTimeYMD!=null">
 				#{startTimeYMD},
 			</if>
 			<if test="id!=null">
 				#{id},
 			</if>
 			<if test="rootAreaId!=null">
 				#{rootAreaId},
 			</if>
 		</trim>
 	</insert>
	<select id="select" resultType="com.positionPhZY.entity.WarnRecord">
		select * from warn_record
	</select>
	<select id="selectBarChartData" resultType="com.positionPhZY.entity.WarnRecord">
		select *,count(*) warnCount from 
		(select wt.name wtName,startTimeYMD,CONCAT(month(startTimeYMD),'-',day(startTimeYMD)) xAxisDataLabel from warn_record wr,warn_trigger wt where wr.warnType=wt.warnType and startTimeYMD BETWEEN #{startTime} and #{endTime})t
		 GROUP BY t.xAxisDataLabel
	</select>
</mapper>